@model Insurance.Models.Lifeinsurance


<head>


    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
          rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
          rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="~/css/Life.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />

    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://rawcdn.githack.com/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css" />

</head>


@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


    <body>


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn"
         data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 style="color: rgb(15, 15, 92);" class="display-4 animated slideInDown mb-4">Life Insurance</h1>
            <nav aria-label="breadcrumb animated slideInDown">

            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <br>

    <div class="gallery">




        <script type="text/javascript" src="~/engine0/wowslider.js"></script>
        <script type="text/javascript" src="~/engine0/script.js"></script>





        <div class="container1" style="height:70%">
            <p>
                <h1 style="color:#FF5C0F">
                    Life
                    Insurance
                </h1>
                <br>
            <p>
                Life insurance is a financial tool designed to provide a sense of financial security and protection for your loved ones in the event of your death. It offers a payout, known as the death benefit, to your beneficiaries (typically family members or chosen individuals) upon your passing. There are several reasons why you might consider buying life insurance, along with various benefits and policy options to choose from.
            </p>
            <br>

            <!-- WHY SHOULD YOU BUY IT -->

            <h3>Why you should buy life insurance</h3>
            <br><br>

            <h5>1. Financial Protection for Dependents:</h5>
            <p>
                you have dependents like children, a spouse, or elderly parents who rely on your income, life insurance can provide them with financial support in case of your untimely demise.
            </p>
            <h5>2. Debt Coverage:</h5>
            <p>
                Life insurance can cover outstanding debts like mortgages, loans, and credit card debt, ensuring that your family doesn't inherit these financial obligations.
            </p>
            <h5>3. Funeral and End-of-Life Expenses: </h5>
            <p>
                Funerals and related expenses can be costly. Life insurance can help cover these costs, relieving your family from immediate financial stress during a difficult time.
            </p>
            <h5>4. Estate Planning:  </h5>
            <p>
                Life insurance can be used as part of your estate planning strategy, ensuring that your assets are distributed as you intend and minimizing potential inheritance tax burdens.

            </p>
            <br>
            <br>

            <!-- BENEFITS -->
            <h3>Benefits of Life Insurance</h3>
            <br>
            <br>
            <h5>1. Financial Security: </h5>
            <p>
                Life insurance provides peace of mind that your loved ones will be financially protected even if you're no longer there to provide for them.

            </p>
            <br>
            <h5>2. Income Replacement: </h5>
            <p>
                If your income supports your family's lifestyle, life insurance can replace that income and maintain their standard of living.
            </p>
            <br>
            <h5>3. Debt Relief: </h5>
            <p>
                Life insurance can prevent your family from being burdened with your outstanding debts, allowing them to focus on moving forward without financial stress.
            </p>
            <br>
            <h5>4. Estate Liquidity: </h5>
            <p>
                Life insurance provides a source of readily available funds to cover estate taxes, legal fees, and other financial obligations upon your death.
            </p><br>
            <br>


            <!-- POLICIES -->

            <h3>Types of Life Insurance Policies</h3>
            <br><br>

            <h5>1. Term Life Insurance:</h5>
            <p>
                Term life insurance provides coverage for a specific period, such as 10, 20, or 30 years. It offers a death benefit to beneficiaries if the insured passes away during the policy term. Term policies are generally more affordable but do not build cash value.
            </p>
            <h5>2. Whole Life Insurance:</h5>
            <p>
                Whole life insurance provides lifelong coverage and has a cash value component that grows over time. Premiums are typically higher, but the policy accumulates cash value that can be borrowed against or withdrawn for various needs.
            </p>
            <h5>3. Universal Life Insurance:</h5>
            <p>
                Universal life insurance combines a death benefit with a flexible savings component. You can adjust the premium and death benefit within certain limits. It also accumulates cash value and offers potential investment growth.
            </p>
            <h5>4. Variable Life Insurance:  </h5>
            <p>
                Variable life insurance allows you to invest the cash value portion in various investment options such as stocks, bonds, and mutual funds. This offers potential for higher returns but also involves more risk.

            </p>
            <h5>5. Indexed Universal Life Insurance:  </h5>
            <p>
                This type of policy ties the cash value growth to a specific financial index, offering the potential for higher returns while providing a level of downside protection.


            </p>

            <br />
            <!-- PACKAGES -->

            <h3> LIFE INSURANCE PACKAGES</h3>
            <br><br>

            <h5>1.SILVER (BASIC PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Providing a death benefit of $250,000 to the beneficiaries if the insured passes away during the policy term.<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$50<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>It's a straightforward and affordable option suitable for those seeking temporary coverage.<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>It offers a death benefit to beneficiaries if the insured passes away during the policy term.<br>
            </p>
            <br>
            <h5>2.GOLD (ENHANCED PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>The policyholder can access the cash value for loans or withdrawals if needed.<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$100<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Coverage Amount: $500,000.<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>This package is ideal for individuals looking for lifelong coverage and a savings component.<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>The Gold package provides permanent coverage for the insured's entire life.<br>
            </p>
            <br>
            <h5>3.PLATANIUM PACKAGE (ENHANCED PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>The Platinum package offers a death benefit of $1,000,000 along with the benefits of indexed universal life insurance.<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$200<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Coverage Amount: $1,000,000<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>This package suits those who want both significant coverage and the potential for investment growth.<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>The cash value growth is tied to a specific financial index .<br>
            </p>


            <br>
            <br>







            <br>
            <br>
            <center>
                <a href="" style="width: 20%;" class="btn btn-primary px-3 d-none d-lg-block">Buy Now</a>
            </center>
            </p>



        </div>
        <br>







    </body>