@model Insurance.Models.Motorinsurance

@{
    ViewData["Title"] = "Create";
}

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!-- Favicon -->
<link href="~/img/favicon.ico" rel="icon" />

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
      rel="stylesheet" />

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet" />

<!-- Libraries Stylesheet -->
<link href="~/lib/animate/animate.min.css" rel="stylesheet" />
<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<!-- Template Stylesheet -->
<link href="~/css/create.css" rel="stylesheet" />

<!----===== Iconscout CSS ===== -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />

<link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
<link href="https://rawcdn.githack.com/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css" />



@*<h4>Motorinsurance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CNICnumber" class="control-label"></label>
                <input asp-for="CNICnumber" class="form-control" />
                <span asp-validation-for="CNICnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankACC" class="control-label"></label>
                <input asp-for="BankACC" class="form-control" />
                <span asp-validation-for="BankACC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolderName" class="control-label"></label>
                <input asp-for="HolderName" class="form-control" />
                <span asp-validation-for="HolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAddress" class="control-label"></label>
                <input asp-for="CustomerAddress" class="form-control" />
                <span asp-validation-for="CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupation" class="control-label"></label>
                <input asp-for="Occupation" class="form-control" />
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label"></label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehiclenubmer" class="control-label"></label>
                <input asp-for="Vehiclenubmer" class="form-control" />
                <span asp-validation-for="Vehiclenubmer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchasedate" class="control-label"></label>
                <input asp-for="Purchasedate" class="form-control" />
                <span asp-validation-for="Purchasedate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyValidity" class="control-label"></label>
                <input asp-for="PolicyValidity" class="form-control" />
                <span asp-validation-for="PolicyValidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Package" class="control-label"></label>
                <input asp-for="Package" class="form-control" />
                <span asp-validation-for="Package" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@


<body style="background:#6376aa;">

    <br />
    <div style="margin-left: 270px;" class="container-form">
        <header>Health Insurance</header>

        <form asp-action="Create" style="height: 630px;">

            <div class="form first">
                <div class="details personal">
                    <span class="title">Details </span>

                    <div class="fields">
                        <div class="input-field">
                            <label asp-for="HolderName">Policy Holder Name</label>
                            <input asp-for="HolderName" type="text" placeholder="Enter policy holder name" required>
                        </div>



                        <div class="input-field">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label asp-for="Contact">Mobile Number</label>
                            <input asp-for="Contact" type="number" placeholder="Enter mobile number" required>
                        </div>



                    </div>
                </div>

                <div class="details ID">


                    <div class="fields">
                        <div class="input-field">
                            <label asp-for="Category">Vehicle Category</label>
                            <input asp-for="Category" type="text" placeholder="Enter vehicle category" required>
                        </div>


                        <div class="input-field">
                            <label asp-for ="CustomerAddress">Address</label>
                            <input asp-for ="CustomerAddress" type="text" placeholder="Enter your address" required>
                        </div>

                        <div class="input-field">
                            <label asp-for="Gender">Gender</label>
                            <select asp-for="Gender" required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>

                            </select>
                        </div>

                        <div class="input-field">
                            <label asp-for="Purchasedate">Vehicle Purchase Date</label>
                            <input asp-for="Purchasedate" type="date" placeholder="Enter purchase date" required>
                        </div>

                        <div class="input-field">
                            <label asp-for ="BankACC">Bank Account Number</label>
                            <input asp-for="BankACC" type="number" placeholder="Enter bank account number" required>
                        </div>

                        <div class="input-field">
                            <label asp-for="CNICnumber">CNIC Number</label>
                            <input asp-for="CNICnumber" type="number" placeholder="Enter your cnic number" required>
                        </div>


                        <div class="input-field">
                            <label asp-for="Brand">Vehicle Brand</label>
                            <input asp-for="Brand" type="text" placeholder="Enter vehicle brand name" required>
                        </div>

                        <div class="input-field">
                            <label asp-for="Owner">Vehicle Owner Name</label>
                            <input asp-for="Owner" type="text" placeholder="Enter Vehicle Owner name" required>
                        </div>

                        <div class="input-field">
                            <label asp-for="PolicyValidity" >Policy Validity</label>
                            <input asp-for="PolicyValidity" type="date"  placeholder="Enter your  policy validity" required >
                        </div>


                        <div class="input-field">
                            <label asp-for="Vehiclenubmer">Vehicle Number</label>
                            <input asp-for="Vehiclenubmer" type="number" placeholder="Enter your vehicle number" required>
                        </div>


                        <div class="input-field">
                            <label asp-for ="Occupation">Occupation</label>
                            <input asp-for="Occupation" type="text" placeholder="Enter your ccupation" required>
                        </div>


                        <div class="input-field">
                            <label asp-for="Package">Packages</label>
                            <select asp-for="Package" required>
                                <option disabled selected>Select Package</option>
                                <option>Silver</option>
                                <option>Gold</option>
                                <option>Platanium</option>
                            </select>
                        </div>



                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>





        </form>
    </div>




</body>






