@model Insurance.Models.Lifeinsurance


<head>


    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
          rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
          rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="~/css/health.css" rel="stylesheet" />


    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />

    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://rawcdn.githack.com/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css" />

</head>


@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


    <body>


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn"
         data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 style="color: rgb(15, 15, 92);" class="display-4 animated slideInDown mb-4">Health Insurance</h1>
            <nav aria-label="breadcrumb animated slideInDown">

            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="gallery">




        <script type="text/javascript" src="engine0/wowslider.js"></script>
        <script type="text/javascript" src="engine0/script.js"></script>





        <div class="container1" style="height:70%">
            <p>
                <h1 style="color:#FF5C0F">
                    Health
                    Insurance
                </h1>
                <br>
            <p>
                Health insurance is a type of coverage that provides financial protection against the high costs of medical expenses and healthcare services. It helps individuals and families manage the financial burden that can arise from unexpected illnesses, injuries, or medical treatments. Here are some reasons why you should consider buying health insurance, along with its benefits and common policy features:
            </p>
            <br>

            <h3>Why you should buy Home insurance</h3>
            <br><br>

            <h5>1. Financial Protection: </h5>
            <p>
                Health insurance helps mitigate the financial impact of medical expenses. Without insurance, you might have to pay out-of-pocket for doctor visits, hospital stays, surgeries, prescription medications, and other medical treatments, which can be extremely costly.
            </p>
            <h5>2. Access to Healthcare Services: </h5>
            <p>
                With health insurance, you have access to a network of healthcare providers, including doctors, specialists, hospitals, and clinics. This ensures that you can receive timely medical care when needed.
            </p>
            <h5>3. Preventive Care:  </h5>
            <p>
                Many health insurance plans cover preventive services such as vaccinations, screenings, and check-ups. Preventive care can help catch health issues early, leading to better outcomes and lower overall healthcare costs.
            </p>
            <h5>4. Emergency Care:  </h5>
            <p>
                Accidents and medical emergencies can happen unexpectedly. Health insurance can help cover the expenses associated with emergency room visits, ambulance services, and urgent medical treatments.

            </p>
            <h5>5. Chronic Condition Management:  </h5>
            <p>
                For individuals with chronic conditions like diabetes, asthma, or heart disease, health insurance provides access to ongoing medical care, medications, and management programs.

            </p>
            <h5>6. Prescription Medications:  </h5>
            <p>
                Health insurance often includes coverage for prescription drugs, reducing the out-of-pocket costs for necessary medications.

            </p>
            <br>
            <br>
            <h3>Benefits of Home Insurance:</h3>
            <br>
            <br>
            <h5>1. Peace of Mind:  </h5>
            <p>
                Knowing that you have health insurance provides peace of mind, as you're better prepared to handle unexpected medical expenses and healthcare needs.

            </p>
            <br>
            <h5>2. Network Coverage:  </h5>
            <p>
                Health insurance plans often have networks of healthcare providers. Staying within the network can lead to lower costs, negotiated rates, and easier coordination of care.
            </p>
            <br>
            <h5>3. Cost Sharing: </h5>
            <p>
                Health insurance plans typically involve cost-sharing mechanisms, such as deductibles, co-payments, and co-insurance. These mechanisms help distribute the financial burden between you and the insurance company.
            </p>
            <br>
            <h5>4. Coverage for Essential Health Benefits:  </h5>
            <p>
                Many health insurance plans are required to cover essential health benefits, including hospitalization, outpatient care, preventive services, prescription drugs, and more.
            </p>
            <br>
            <br>




            <!-- POLICIES -->

            <h3>Types of Health Insurance Policies</h3>
            <br><br>

            <h5>1. Coverage Options:</h5>
            <p>
                Health insurance plans come in various types, such as Health Maintenance Organizations (HMOs), Preferred Provider Organizations (PPOs), and Exclusive Provider Organizations (EPOs). Each type has its own network and coverage rules. Choose a plan that aligns with your healthcare needs and preferences.
            </p>
            <h5>2. Premiums, Deductibles and Copayments:</h5>
            <p>
                Understand the financial aspects of the plan, including the monthly premium (amount you pay for coverage), deductible (amount you pay before insurance kicks in), and copayments (fixed amounts you pay for medical services).
            </p>
            <h5>3. Network Coverage:</h5>
            <p>
                Check if your preferred doctors, specialists, and hospitals are included in the plan's network. Going out of network may result in higher costs.
            </p>
            <h5>4. Prescription Drug Coverage:  </h5>
            <p>
                If you take regular medications, ensure that the plan covers your prescriptions and check the costs associated with them.

            </p>
            <h5>5. Pre-existing Conditions:  </h5>
            <p>
                If you take regular medications, ensure that the plan covers your prescriptions and check the costs associated with them.


            </p>
            <h5>6. Renewability and Portability: </h5>
            <p>
                Understand the policy's terms regarding renewability and whether you can continue coverage if you change jobs or move to a different location.


            </p>
            <h5>7. Annual and Lifetime Limits:  </h5>
            <p>
                Check if the policy has any limits on the maximum benefits it will pay out annually or over your lifetime.


            </p>
            <br>
            <br>




            <!-- PACKAGES -->

            <h3> HEALTH INSURANCE PACKAGES</h3>
            <br><br>

            <h5>1.SILVER (BASIC PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Higher deductibles and copayments compared to higher-tier plans. Access to a network of healthcare providers<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$100<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Coverage for essential medical services, including doctor visits, hospital stays, and prescription medications<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Some coverage for specialty services and outpatient procedures<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Preventive care services, such as vaccinations and screenings<br>
            </p>
            <br>
            <h5>2.GOLD (ENHANCED PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Lower deductibles and copayments compared to the silver package.Broader network of healthcare providers<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$200<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Comprehensive coverage for medical services, including hospitalization, surgeries, and prescription medications<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Robust coverage for preventive care, specialist visits, and diagnostic tests.Maternity and pediatric care coverage<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Potentially some coverage for alternative therapies or additional services<br>
            </p>
            <br>
            <h5>3.PLATANIUM PACKAGE (ENHANCED PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Low deductibles and copayments.Extensive network of healthcare providers, potentially including out-of-network coverage<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$300<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Maximum coverage for medical services, including hospital stays, surgeries, and prescription medications<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Full coverage for preventive care, specialist visits, and diagnostic tests.Maternity and pediatric care coverage<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Mental health and alternative therapy coverage .Potentially some coverage for elective procedures and services not covered by other plans <br>
            </p>


            <br>
            <br>






            <center>
                <a href="" style="width: 20%;" class="btn btn-primary px-3 d-none d-lg-block">Buy Now</a>
            </center>
            </p>
        </div>
        <br>


















    </body>