

<!-- Font Icon -->
<link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css" />


<!-- Main css -->
<link rel="stylesheet" href="~/css/layout.css" />

<!-- Main css -->
<link rel="stylesheet" href="~/css/bootstrap.min.css" />


@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


@*<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@
<body>




    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn"
         data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-4 animated slideInDown mb-4">Insurance Plans</h1>
            <nav aria-label="breadcrumb animated slideInDown">

            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto" style="max-width: 500px">
                <h1 class="display-6 mb-5">
                    We Provide professional Insurance Plans
                </h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid"
                                     src="~/img/icon/icon-10-light.png"
                                     alt="" />
                            </div>
                            <h4 class="mb-0">Life Insurance</h4>
                        </div>
                        <p class="mb-4">
                            protects your spouse and children from the potentially devastating financial losses that could result if something happened to you.
                        </p>
                        <a class="btn btn-light px-3" href="@Url.Action("policy","Lifeinsurances")">Read More</a>
                    </div>
                </div>



                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid"
                                     src="~/img/icon/icon-01-light.png"
                                     alt="" />
                            </div>
                            <h4 class="mb-0">Health Insurance</h4>
                        </div>
                        <p class="mb-4">


                            Health Insurance pays most medical and surgical expenses and
                            preventative care costs
                        </p>
                        <a class="btn btn-light px-3" href="@Url.Action("policy","Healthinsurances")">Read More</a>
                    </div>
                </div>




                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid"
                                     src="~/img/icon/icon-05-light.png"
                                     alt="" />
                            </div>
                            <h4 class="mb-0">Home Insurance</h4>
                        </div>
                        <p class="mb-4">
                            Home insurance protects the house from physical damage, it also provides coverage for items inside the house
                        </p>
                        <a class="btn btn-light px-3" href="@Url.Action("policy","Homeinsurances")">Read More</a>
                    </div>
                </div>
               @*<!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                      <div
                        class="service-icon flex-shrink-0 bg-primary rounded-end me-4"
                      >
                        <img
                          class="img-fluid"
                          src="img/icon/icon-08-light.png"
                          alt=""
                        />
                      </div>
                      <h4 class="mb-0">Vehicle Insurance</h4>
                    </div>
                    <p class="mb-4">
                      Motor Insurance is a policy which covers your vehicles from potential risks financially

                    </p>
                    <a class="btn btn-light px-3" href="">Read More</a>
                  </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item rounded h-100 p-5">
                    <div class="d-flex align-items-center ms-n5 mb-4">
                      <div
                        class="service-icon flex-shrink-0 bg-primary rounded-end me-4"
                      >
                        <img
                          class="img-fluid"
                          src="img/icon/icon-07-light.png"
                          alt=""
                        />
                      </div>
                      <h4 class="mb-0">Business Insurance</h4>
                    </div>
                    <p class="mb-4">
                      Aliqu diam amet eos erat ipsum et lorem et sit, sed stet lorem
                      sit clita duo justo erat amet
                    </p>
                    <a class="btn btn-light px-3" href="">Read More</a>
                  </div>
                </div> -->
                *@



                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded h-100 p-5">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid"
                                     src="~/img/icon/icon-08-light.png"
                                     alt="" />
                            </div>
                            <h4 class="mb-0">Motor Insurance</h4>
                        </div>
                        <p class="mb-4">
                            Motor Insurance is a policy which covers your vehicles from potential risks financially
                        </p>
                        <a class="btn btn-light px-3" href="@Url.Action("policy","Motorinsurances")">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Service End -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/new.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/newmain.js"></script>
s


</body>