@model Insurance.Models.Lifeinsurance


<head>


    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
          rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
          rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="~/css/Home.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />

    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://rawcdn.githack.com/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css" />



</head>


@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


    <body>


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn"
         data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 style="color: rgb(15, 15, 92);" class="display-4 animated slideInDown mb-4">Home Insurance</h1>
            <nav aria-label="breadcrumb animated slideInDown">

            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <br>

    <div class="gallery">




        <script type="text/javascript" src="engine0/wowslider.js"></script>
        <script type="text/javascript" src="engine0/script.js"></script>





        <div class="container1" style="height:70%">
            <p>
                <h1 style="color:#FF5C0F">
                    Home
                    Insurance
                </h1>
                <br>
            <p>
                Home insurance, also known as homeowner's insurance, is a type of property insurance that provides financial protection for your home and its contents in the event of certain covered perils. Here are the reasons why you should consider buying home insurance, along with its benefits.
            </p>
            <br>

            <h3>Why you should buy Home insurance</h3>
            <br><br>

            <h5>1. Protection Against Property Damage:</h5>
            <p>
                Home insurance covers your home and personal belongings against damage caused by covered perils such as fire, lightning, windstorms, and vandalism. If your home is damaged or destroyed, the insurance company can help cover the cost of repairs or rebuilding.
            </p>
            <h5>2. Liability Coverage: </h5>
            <p>
                Home insurance typically includes liability coverage, which protects you if someone is injured on your property or if you accidentally damage someone else's property. This coverage can help cover legal fees and medical expenses in case you're found liable.
            </p>
            <h5>3. Personal Belongings:  </h5>
            <p>
                Your personal belongings, such as furniture, electronics, clothing, and other possessions, are also covered under most home insurance policies. If these items are damaged, stolen, or destroyed due to covered perils, the insurance can help you replace them.
            </p>
            <h5>4. Additional Living Expenses:  </h5>
            <p>
                If your home becomes uninhabitable due to a covered peril, your insurance policy may cover additional living expenses, such as temporary accommodation, meals, and other related costs.

            </p>
            <h5>5.Mortgage Requirement:   </h5>
            <p>
                If you have a mortgage on your home, your lender may require you to have home insurance. This is to protect their investment in case the property is damaged.

            </p>
            <br>
            <br>
            <h3>Benefits of Home Insurance:</h3>
            <br>
            <br>
            <h5>1. Peace of Mind:  </h5>
            <p>
                Knowing that your home and belongings are protected against unforeseen events can provide a sense of security and peace of mind for you and your family.

            </p>
            <br>
            <h5>2. Coverage for Personal Liability:  </h5>
            <p>
                Home insurance not only protects your physical property but also provides coverage in case you're held legally responsible for injuries or property damage to others, potentially saving you from significant financial burdens.
            </p>
            <br>
            <h5>3. Natural Disasters (depending on policy): </h5>
            <p>
                Depending on the type of policy and endorsements you choose, home insurance can provide coverage for damages caused by natural disasters like earthquakes, floods, hurricanes, and more, helping you recover financially from catastrophic events.
            </p>
            <br>
            <h5>4. Quick Recovery: </h5>
            <p>
                In the event of covered damage, home insurance facilitates a quicker recovery process by providing the financial resources needed for repairs, replacements, and rebuilding.
            </p>
            <!-- POLICIES -->

            <h3>Types of Home Insurance Policies</h3>
            <br><br>

            <h5>1. HO-3 (Comprehensive Policy):</h5>
            <p>
                This is the most common type of home insurance. It covers your home's structure against all perils except those specifically excluded in the policy. Personal belongings are covered against named perils, and liability coverage is included.
            </p>
            <h5>2. HO-4 (Renter's Insurance):</h5>
            <p>
                If you're renting, this policy covers your personal belongings and liability, but not the structure itself. It's tailored for tenants.
            </p>
            <h5>3.HO-6 (Condo Insurance):</h5>
            <p>
                Geared towards condo owners, this policy covers the interior of your unit, personal belongings, and liability. The condo association's master policy usually covers the building structure.
            </p>
            <h5>4. VHO-8 (Older Home Policy):  </h5>
            <p>
                Designed for older homes, this policy considers replacement costs that might be higher due to outdated construction materials and methods.

            </p>

            <br>
            <br>

            <!-- PACKAGES -->

            <h3> HOME INSURANCE PACKAGES</h3>
            <br><br>

            <h5>1.SILVER (BASIC PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Dwelling and structural damage.Personal property coverage <br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$200<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Personal liability coverage<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Additional living expenses<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Medical payments to others<br>
            </p>
            <br>
            <h5>2.GOLD (ENHANCED PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Open perils coverage for personal property<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$400<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Open perils coverage for dwelling <br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Higher coverage limits for personal belongings<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Increased personal liability coverage.Identity theft coverage<br>
            </p>
            <br>
            <h5>3.PLATANIUM PACKAGE (ENHANCED PACKAGE)</h5>
            <p>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i> Replacement cost coverage for dwelling<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Monthly Premium:$600<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Replacement cost coverage for personal property<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Water damage and sewer backup coverage<br>
                <i class="fad fa-dot-circle" style="--fa-secondary-opacity: 0;"></i>Equipment breakdown coverage.Personal injury liability coverage <br>
            </p>


            <br>
            <br>



            <center>
                <a href="" style="width: 20%;" class="btn btn-primary px-3 d-none d-lg-block">Buy Now</a>
            </center>
            </p>
        </div>
        <br>





    </body>